.form-group{
   border-top: 5px solid grey;
   width: 60%;
   height: 109px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.form-control{
   height: 171px;
   width: 60%;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.bt-add{
   margin-top: 10px;
   width: 100px;
   height: 20px;
   text-align: center;
}